<!DOCTYPE html>
<html>
<head>
  <title>Wepley</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'rails', 'niftyplayer' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
